/*color palette
primary : #1e1e1e
Secondary : #292d29
accent : #a8c66c

text
gray : #a8a59c stroke: #3a3a38
white : #f2f0e8
*/
:root {
    --bg-color: #1e1e1e;
}
body.light-theme {
    --bg-color: #ffffff;
}


body {
    background-color: var(--bg-color);
    margin: 0rem;
    overflow-x: hidden;
}

h1 {
    margin: 0.5rem;
}
h2{
    margin: 0rem;
}

.h2-hook {
    text-align: center;
    font-family: "JetBrains Mono", monospace;
    font-size: 3rem;
    color: #f2f0e8;
        text-shadow: -1px -1px 0 #3a3a38, 
                 1px -1px 0 #3a3a38,
                 -1px 1px 0 #3a3a38,
                 1px 1px 0 #3a3a38,
                 -1px 0px 0 #3a3a38,
                 1px 0px 0 #3a3a38,
                 0px -1px 0 #3a3a38,
                 0px 1px 0 #3a3a38;
}

.h3-hook {
    display: flex;
    justify-content: center;
    width: fit-content;
    text-align: center;
    font-family: "JetBrains Mono", monospace;
    font-size: 2rem;
    color: #a8a59c;
    text-shadow: -1px -1px 0 #3a3a38, 
                 1px -1px 0 #3a3a38,
                 -1px 1px 0 #3a3a38,
                 1px 1px 0 #3a3a38,
                 -1px 0px 0 #3a3a38,
                 1px 0px 0 #3a3a38,
                 0px -1px 0 #3a3a38,
                 0px 1px 0 #3a3a38;
}

button {
    background-color: #1e1e1e;
    padding: 0.4rem;
    border: solid, #a8c66c;
    border-radius: 0.4rem;
    border-width: 0.2rem;
    font-family: "JetBrains Mono", monospace;
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 0.05rem;
    color: #f2f0e8;
    text-shadow: -1px -1px 0 #3a3a38, 
                 1px -1px 0 #3a3a38,
                 -1px 1px 0 #3a3a38,
                 1px 1px 0 #3a3a38,
                 -1px 0px 0 #3a3a38,
                 1px 0px 0 #3a3a38,
                 0px -1px 0 #3a3a38,
                 0px 1px 0 #3a3a38;
}
button:hover {
    background-color: #a8c66c;
    color: #292d29;
        text-shadow: -1px -1px 0 #f2f0e8, 
                 1px -1px 0 #f2f0e8,
                 -1px 1px 0 #f2f0e8,
                 1px 1px 0 #f2f0e8,
                 -1px 0px 0 #f2f0e8,
                 1px 0px 0 #f2f0e8,
                 0px -1px 0 #f2f0e8,
                 0px 1px 0 #f2f0e8;
}
button:active {
    transform: scale(0.95);
}

/* =============
Navigation up top
============== */
.nav-section {
    background-color: #292d29;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 0.2rem solid #a8c66c;
}

.logo {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    font-family: "JetBrains Mono", monospace;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    color: #f2f0e8;
    text-shadow: -1px -1px 0 #1e1e1e, 
                 1px -1px 0 #1e1e1e,
                 -1px 1px 0 #1e1e1e,
                 1px 1px 0 #1e1e1e,
                 -1px 0px 0 #1e1e1e,
                 1px 0px 0 #1e1e1e,
                 0px -1px 0 #1e1e1e,
                 0px 1px 0 #1e1e1e;
    
}

.link-menu {
    display: flex;
    flex-direction: row;
    margin-right: 1.5rem;
    gap: 3rem;
    padding: 1rem;
}

.nav-btn {
    cursor: pointer;
}

/* =========
index.html
========= */
.main {
    width: auto;
    height: 35rem;
}

.hook {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin: 2rem 1rem 20rem 1rem;*/
    padding: 2rem;
    font-family: "JetBrains Mono", monospace;
    
}
.meme-clock {
    display: flex;
    opacity: 0;
    margin-left: auto;
    margin-top: 0.5rem;
    transform-origin: right center;
    transition-property: transform opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

.hook:hover .h2-hook,
.hook:hover .h3-hook {
    transform: scale(1.5);
}
.hook:hover .h2-hook {
    transform: scale(1.5);
    margin-top: 2rem;
    color: #a8c66c;
    text-shadow: -1px -1px 0 #1e1e1e, 
                 1px -1px 0 #1e1e1e,
                 -1px 1px 0 #1e1e1e,
                 1px 1px 0 #1e1e1e,
                 -1px 0px 0 #1e1e1e,
                 1px 0px 0 #1e1e1e,
                 0px -1px 0 #1e1e1e,
                 0px 1px 0 #1e1e1e;
}
.hook:hover ~ .meme-clock {
    opacity: 1;
    transform: scale(8);
}

/* ===
Footer 
===== */
.footer {
    background-color: #292d29;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.footer-section--1 {
    background-color: #292d29;
    width: 70%;
    position: relative;
    padding: 0rem 3rem 0rem 0rem;
    margin-left: 1rem;
}

.footer-section--1::after {
    content: "";
    position: absolute;
    right: 0;
    top: 15%;
    height: 70%;
    width: 2px;
    background-color: #3a3a38;
}

.footer-section--2 {
    background-color: #292d29;
    display: flex;
    /*flex: 0 0 35%;*/
    flex-direction: row;
    align-items: center;
    width: 40%;
    padding: 0rem 0rem 0rem 1.5rem;
    border-right: 2px solid #3a3a38;
}

.quotes-title {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #a8c66c;
    font-family: "JetBrains Mono", monospace;
    text-align: left;
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    color: #f2f0e8;
}

.quotes-main {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    font-family: "JetBrains Mono", monospace;
    text-align: left;
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    color: #f2f0e8;
}

.quote {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.45rem;
    font-weight: 600;
    position: relative;
    margin: 0.5rem 0rem 0rem 0rem;
}
.quote-border {
    margin: 0.5rem 0rem 0rem 0.5rem;
}

.quote-border::after {
    content: "";
    position: absolute;
    left: calc(100% + 2rem);
    transform: translateX(-50%);
    top: 15%;
    height: 70%;
    width: 2px;
    background-color: #3a3a38;
}

.social-media {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "JetBrains Mono", monospace;
    text-align: left;
    font-size: 1rem;
    flex-wrap: wrap;
    margin: 0.5rem;
    color: #f2f0e8;
}

.username {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin: 0.5rem;
    font-size: 2rem;
    color: #f2f0e8;
}

.me {
    display: flex;
    align-items: center;
    opacity: 0;
    height: fit-content;
    margin-top: 0.5rem;
    transform-origin: left center;
    transition-property: transform opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

.social-media:hover ~ .me {
    transform: scale(6);
    opacity: 1;
}



/* ========
config.html
========= */
.config {
    background-color: #1e1e1e;
}

.main-config {
    width: auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Server Information */
.metadata {
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: "JetBrains Mono", monospace;
    text-align: center;
    gap: 1.25rem;
    width: 30rem;
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
    border: solid, #a8c66c;
    border-width: 0.2rem;
    border-radius: 0.4rem;
    margin: 2rem;
}

.metadata-title, .preferences-title, .tags-title, .sub-tag-title {
    align-self: center;
    width: 25rem;
    margin: 0rem 0rem 0.5rem 0rem;
    border-bottom-width: 0.15rem;
    border-bottom-style: solid;
    border-bottom-color: #3a3a38;
    text-align: center;
    font-size: 2.4rem;
    color: #f2f0e8;
    text-shadow: -1px -1px 0 #3a3a38, 
                 1px -1px 0 #3a3a38,
                 -1px 1px 0 #3a3a38,
                 1px 1px 0 #3a3a38,
                 -1px 0px 0 #3a3a38,
                 1px 0px 0 #3a3a38,
                 0px -1px 0 #3a3a38,
                 0px 1px 0 #3a3a38;
}

.metadata-info {
    display: grid;
    grid-template-columns: 10rem auto 1fr;
    text-align: left;
    font-size: 1.4rem;
    color: #f2f0e8;
    text-shadow: -1px -1px 0 #3a3a38, 
                 1px -1px 0 #3a3a38,
                 -1px 1px 0 #3a3a38,
                 1px 1px 0 #3a3a38,
                 -1px 0px 0 #3a3a38,
                 1px 0px 0 #3a3a38,
                 0px -1px 0 #3a3a38,
                 0px 1px 0 #3a3a38;
}
.metadata-info::after {
    content: ':';
    grid-column: 2;
    grid-row: 1;
}
.metadata-info #show-ip #show-port {
    grid-column: 3;
}


/* Preferences Section */
.preferences {
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: "JetBrains Mono", monospace;
    text-align: center;
    gap: 1.25rem;
    width: 30rem;
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
    border: solid, #a8c66c;
    border-width: 0.2rem;
    border-radius: 0.4rem;
    margin: 2rem;
}

.theme, .language {
    display: grid;
    grid-template-columns: 20rem 1fr;
    text-align: left;
    font-size: 1.4rem;
    color: #f2f0e8;
    text-shadow: -1px -1px 0 #3a3a38, 
                1px -1px 0 #3a3a38,
                -1px 1px 0 #3a3a38,
                1px 1px 0 #3a3a38,
                -1px 0px 0 #3a3a38,
                1px 0px 0 #3a3a38,
                0px -1px 0 #3a3a38,
                0px 1px 0 #3a3a38;
}

/* Slider Button */
.switch {
    display: grid;
    grid-column:2;
    padding: 0% 80% 0% 80%;
    width: 50px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
}

.slider {
    position: relative;
    cursor: pointer;
    height: 25px;
    margin: 2.5px;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #a8a59c;
    transition: .3s;
    border-radius: 20px;
}

.slider::before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: #3a3a38;
    transition: .3s;
    border-radius: 50%;
}

/* Dark Mode ON */
input:checked + .slider {
    background-color: #4CAF50; 
}

input:checked + .slider:before {
    transform: translateX(20px);
    background-color: #f2f0e8;
}

/* Language dropdown */
.custom-dropdown {
    position: relative;
    width: 135px;
    font-size: 1rem;
    user-select: none;
}

.dropdown-selected {
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid #a8a59c;
    border-radius: 6px;
    padding: 6px 12px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: border-color 0.3s;
}

.custom-dropdown.open .dropdown-selected {
    border-color: #a8c66c;
}

/* arrow for dropdown */
.dropdown-selected::after {
    content: '';
    border: solid var(--text-color, #f2f0e8);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 0.2rem;
    transform: rotate(45deg);
    transition: transform 0.2s;
}

.custom-dropdown.open .dropdown-selected::after {
    transform: rotate(-135deg);
}

/* Dropdown options */
.dropdown-options {
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
    background-color: var(--bg-color);
    border: 1px solid #a8a59c;
    border-radius: 6px;
    list-style: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
    display: none;
}

/* Dropdown opened */
.custom-dropdown.open .dropdown-options {
    display: block;
}

.dropdown-options li {
    padding: 8px 12px;
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.2s;
}

.dropdown-options li:hover {
    background-color: #a8c66cd9;
    color: #f2f0e8; 
}

.dropdown-options li.active {
    background-color: #a8c66c35;
    font-weight: bold;
}

/* Light Mode */
body.light-theme .dropdown-selected,
body.light-theme .dropdown-options {
    border-color: #a8a59c;
}


/* =========
Tags section 
========= */
.tags {
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: "JetBrains Mono", monospace;
    text-align: center;
    gap: 1.25rem;
    width: 30rem;
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
    border: solid, #a8c66c;
    border-width: 0.2rem;
    border-radius: 0.4rem;
    margin: 2rem;
}

.main-tag {
    display: grid;
    grid-template-columns: 16rem 1fr 1fr;
    text-align: left;
    gap: 1.5rem;
}
.main-tag .tags-table {
    grid-column: 1 / -1;
    width: 100%;
}

#input-tag {
    height: 1.5rem;
    width: 10rem;
    padding: 0.5rem;
    background-color: #292d29;
    font-size: 1rem;
    color: #f2f0e8;
    border: solid 0.15rem #3a3a38;
    border-radius: 0.6rem;
    font-family: inherit;
    transition: all 0.2s ease-in-out;
    user-select: none;
}
#input-tag:focus {
    outline: none;
    border-color: #a8c66c;
}

.add-tag {
    display: flex;
    text-align: left;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1.4rem;
    color: #f2f0e8;
    text-shadow: -1px -1px 0 #3a3a38, 
                1px -1px 0 #3a3a38,
                -1px 1px 0 #3a3a38,
                1px 1px 0 #3a3a38,
                -1px 0px 0 #3a3a38,
                1px 0px 0 #3a3a38,
                0px -1px 0 #3a3a38,
                0px 1px 0 #3a3a38;   
}

.add-btn, .del-btn {
    padding: 0.2rem;
    border-radius: 0.4rem;
    border-width: 0.15rem;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    cursor: pointer;
}

#show-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 0.15rem solid #3a3a38;
    border-radius: 0.4rem;
    text-align: center;
    font-size: 1.4rem;
    color: #f2f0e8;
    text-shadow: -1px -1px 0 #3a3a38, 
                1px -1px 0 #3a3a38,
                -1px 1px 0 #3a3a38,
                1px 1px 0 #3a3a38,
                -1px 0px 0 #3a3a38,
                1px 0px 0 #3a3a38,
                0px -1px 0 #3a3a38,
                0px 1px 0 #3a3a38;
}
#table-head th,
#table-body td {
    position: relative;
    padding: 0.25rem 0rem 0.25rem 0rem;
}

#table-head th:nth-child(2)::after,
#table-head th:nth-child(3)::after {
    content: "";
    position:absolute;
    bottom: 0;
    height: 0.15rem;
    background-color: #a8c66c;
    left: -36%;
    right: 8%;
}

#table-head th:nth-child(2)::before,
#table-head th:nth-child(3)::before,
#table-body td:nth-child(2)::before,
#table-body td:nth-child(3)::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 20%;
    height: 70%;
    width: 0.05rem;
    background-color: #a8a59ccc;
}

.tag-checkbox, #check-all {
    cursor: pointer;
}


/* SyncIt! */
.sync-btn {
    cursor: pointer;
}